
html{
  width: 100%;
  height: 100%;
  background-color: white;

}
/* brand color palette */
:root /*declare variable*/{
  --primary: rgba(68, 88, 119, 1); /*these default to variable next to it*/
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body/*representing the entire page*/ {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  /* background-color: var(--light); */
  line-height: 1.5;
  
}

li {
  display: inline;
}
 /* navbar decoration */
 nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 25px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}
/* nav hover */
nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}
/* navbar adding flex properties */
nav{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--tertiary);
  padding-bottom: 15px;
  width: auto;

}
/* navbar title box */
.main-title{
  display: flex;
  background:var(--secondary);
  width: 350px;
 
 }
.icon{
  display:inline-flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  margin: 10px;
 }
/* color added to h1 */
h1{
  font-size: 40px;
  color: var(--tertiary);
  text-align: right;
  margin-top: 10px;
  margin-left: 50px;
}
h3{
  font-size: 25px;
}
/* start of the background for the header and containers  */
#background{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
 background-image: 
 linear-gradient(to bottom, rgb(17, 81, 96), transparent 110%, rgb(35, 94, 129)),
 url("../images/02-hero-bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 200px; 
}
#background1:hover, #background2:hover, #background3:hover, #background3:hover, #background4:hover, #background5:hover{
 opacity: 0.4;
}
.nav-flex{
  display: flex;
  flex-wrap:wrap;
  align-items: column;
}
.cool-header {
  position: fixed;
  display: flex;
  align-items:end;
}
#background1{
  border: 2px solid aqua;
  margin: 5px;
  display: flex;
 align-items: end;
 background-image:url("../images/02-portfolio-4.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height:50%;
 border-color: 100px solid aqua;
}
#background2{
  border: 2px solid aqua;
  margin: 2px; 
  display: flex;
  align-items: end;
 background-image:url("../images/02-portfolio-1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 645px;
 height: 200px;
 
}

/* background boxes for titles */
#background3{
  border: 2px solid aqua;
  margin: 2px; 
  display: flex;
  align-items: end;
  background-image:url("../images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 200px;
}
#background4{
  border: 2px solid aqua;
  margin: 2px; 
  display: flex;
  align-items: end;
  background-image:url("../images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 200px;
}

#background5{
  border: 2px solid aqua;
  margin: 2px; 
  display: flex;
  align-items: end;
  background-image:url("../images/02-run-buddy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 200px;
}

#box-background{
  position: sticky;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-end;
  background: var(--secondary);
  width: 250px;
  height: 50px;
  margin-right: 30px;
  
}

#box-background1{
  background: var(--secondary);
  width: 200px;
  height: 100px;
  margin-bottom: 20px; 
}
p{
  font-size: 20px;
}
/* adding flex properties */
.about-container, .contact-container {
  display: flex;
}
.work-container{
  display: flex;
  margin-bottom: 200px;
}
.sidebar {
  display: flex;
 align-items: flex-start;
  border-right: 5px solid var(--tertiary);
  margin-right: 30px;
  margin-left: 200px;

}
.sidebar2{
  display: flex;
  
  border-right: 5px solid var(--tertiary);
  margin-right: 100px;
  margin-left: 85px;
  margin-bottom: 100px;
}
.borderme, .borderme2, .borderme3{
  font-size: 40px;
  padding-right: 30px;
}

.content{
  margin-left: 30px;
}
.content2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.content3{
  font-size: 30px;
} 

.conten4{
  margin-left: 600px;
}
/* adding decoration properties to footer navbar */
.content4 a{
  display: inline;
  text-underline-position: under;
  font-size: 25px;
  color: var(--tertiary);
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  margin: 15px;;
}
.subcontent{
  font-size: 15px;
}
/* media queries follow */
@media screen and (max-width: 1000px) {

  .sidebar, .sidebar2 {
    float: left;
    border-right: none;
    
  }
  .background2, .background2, .background3, .background4, .background5{
  width: 65px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}
  /* .about-container, .contact-container{
    display: flex;
    flex-direction: column;
  } */
  
  .borderme, .borderme2, .borderme3 {
    border-bottom: 5px solid var(--tertiary);
    border-right: none;
  }

  .content, .content2, .content4 {
    float: right;
    width: auto;
    margin: 30px 0 0 0;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  
  .header {
    grid-column: 1 / -1;
    clear: both;
  }

}

.wrapper > * {
  background-color:white;
  color: var(--tertiary);
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}