
/*colors for challenge 2*/

/* brand color palette */
:root /*declare variable*/{
  --primary: rgba(68, 88, 119, 1); /*these default to variable next to it*/
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body/*representing the entire page*/ {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

li {
  display: inline;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 25px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}
nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

#background1{
  display: flex;
 align-items: end;
 background-image:url("../images/02-portfolio-4.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: auto;
 height: 200px;
}
#background2{
  display: flex;
 justify-content: flex-end;
 background-image:url("../images/02-portfolio-1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 200px;
 height: 200px;
}
#box-background3{
 display: flex;
 justify-content: flex-end;
 background-image: 
 linear-gradient(to bottom, rgb(17, 81, 96), transparent 110%, rgb(35, 94, 129)),
 url("../images/02-hero-bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: auto;
 height: 200px; 
}

.title-me{
display: flex;
display: inline-block;
padding-left: 5px;
background-color: white;
}

#box-background{
    background: var(--secondary);
    padding-left: 15px;
    width: 250px; 
 }
 #box-background1{
  background: var(--secondary);
  width: 100px;
  height: 50px;
  margin-bottom: 20px; 
}
#down{
    margin-top:140px;
    margin-right:50px;
}
nav{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--tertiary);
  padding-bottom: 15px;

}

.main-title{
  
  background:var(--secondary);
  width: 250px;
 

}
h1{
  font-size: 40px;
  color: var(--tertiary);
  text-align: right;
  padding-right: 10px;

}

h3{
  font-size: 25px;
}

text-right {
  
  text-align: right;
  
}
text-left {
  text-align: right;

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}
p{
  font-size: 15px;
}

.about-container {
  display: flex;
}

.sidebar {
  border-right: 5px solid var(--tertiary);
}

.borderme{
  font-size: 34px;
  padding-right: 30px;
 /* border-right: 5px solid var(--tertiary);
    height: 200px; */
}
.borderme2{
  font-size: 34px;
 /* border-right: 5px solid var(--tertiary);
    height: 300px; */
}
.borderme3{
  font-size: 34px;
/*  border-right: 5px solid var(--tertiary);
    height: 150px; */
}

.content {
  margin-left: 30px;
}

.content3{
  font-size: 15px;
  grid-column: 1 / 3;
  grid-row: 1;
}
.content4 {
  grid-column: 3 ;
  grid-row: 1 / 3;
}
.content5 {
  grid-column: 1 ;
  grid-row: 2 ;
}
.content6 {
  grid-column: 2;
  grid-row: 2;
}
.content7 {
  grid-column: 2;
  grid-row: 2;
}
.subcontent1{
  font-size: 10px;
}

.picture-container:hover {
  background: #444;
}
/* @media screen and (min-width: 500px) { */
@media screen and (max-width: 500px) {

  .sidebar {
    float: left;
    border-right: none;
    
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .borderme {
    border-bottom: 5px solid var(--tertiary);
    border-right: none;
  }

  .content {
    float: right;
    width: 79.7872%;
  /*  margin-left: 0;
    margin-top: 30px; */

    margin: 30px 0 0 0;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    clear: both;
  }

}

.wrapper > * {
  background-color:white;
  color: var(--tertiary);
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}