html{
  width: 100%;
  height: 100%;
 background-color: var(--light);

}
/* sizing to fit page */
main{
  max-width: 80%;
  margin: 0 auto; 
}
/* brand color palette */
:root /*declare variable*/{
  --primary: rgba(68, 88, 119, 1); /*these default to variable next to it*/
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

/*representing the entire page*/ 
body{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  line-height: 1.5;
}
/* getting tabs to lineup */
li {
  display: inline;
}
 /* navbar decoration */
 nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 25px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}
/* nav hover */
nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}
/* navbar adding flex properties */
nav{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--tertiary);
  padding-bottom: 15px;
  width: 100%;

}
/* navbar title box */
.main-title{
  display: flex;
  background:var(--secondary);
  width: 400px;
  margin: 0;
 }

.icon{
  display:inline-flex;
  justify-content: space-between;
  width: 80px;
  height: 80px;
  margin: 10px;
 }

/* color added to h1 */
h1{
  font-size: 40px;
  color: var(--tertiary);
  text-align: right;
  margin-top: 10px;
  margin-left: 50px;
}
h3{
  font-size: px;
}

.nav-flex{
  display: flex;
  flex-wrap:wrap;
  align-items: column;
}

/* banner image and gradient */
#background{
 background-image: 
 linear-gradient(to bottom, rgb(17, 81, 96), transparent 110%, rgb(35, 94, 129)),
 url("../images/02-hero-bg.jpg");
 background-size: cover;
 width: 100%;
 height: 200px; 
 margin-bottom: 10px;
}
.header-flex{
position: relative;
}
/* banner title */
.content0{
  background-color: var(--secondary);
  color: var(--tertiary);
  position: absolute; 
  bottom: -20px; 
  right: 30px;
}
/* start of main content */
.container{
  display: flex;
  flex-direction: column;
}
/* sections */
.about-container{
  display: flex;
  align-items: flex-start;
  margin-left: 133px;
}
.work-container {
  display: flex;
  align-items: flex-start;
  margin-left: 150px;
  margin-top: 20px;
}
.contact-container{
  display: flex;
  align-items: flex-start;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* creating abiltity to add title ontop */
#background1, #background2{
  position: relative;
}

h2{
  padding-right: 30px;
  font-size: 50px;
}

p{
  font-size: 25px;
}
/* adding title ontop of big image */
.content3{
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
  color: black;
  background-color: var(--secondary);
  margin-left: -10px;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
}
/* adding title ontop of small images */
.content{
  position: absolute; 
  bottom: 5px; 
  left: 5px; 
  color: black;
  background-color: var(--secondary);
  padding-left: 50px;
  padding-right: 30px;
}


.content1, .img-container{
  border-left: 5px solid var(--primary);
  padding-left: 20px;
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image1{
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
  border: 5px solid var(--secondary);
  opacity: 65%;
}


.image2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 500px;
  height: 200px;
  margin: 5px;
  border: 5px solid var(--secondary);
  opacity: 65%;
}
/* adding hover to images */
#imgs:hover{
  opacity: 40%;
}

/* aligning images on page */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row img {
  flex-basis: 50%;
}

.content4{
  margin-bottom: 50px;
}
.content4 a{
  text-underline-position: under;
  font-size: 25px;
  color: var(--tertiary);
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  margin: 20px;
}

.content4 a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

/* adding responsiveness */

@media (max-width:850px) {
  section{
    width: 80%;
  }
  .about-container, .work-container, .contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content1, .img-container{
    border-left:none;
    border-top: 5px solid var(--tertiary);
  }

  .image1{
      width: 95%;
    }
   
  li{
    display: flex;
    flex-wrap: wrap;
    
  }
  .content4 a{
    margin: 20px;
  }
main{
  margin: 0;
}
}